@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #282C34;
}
body .card-container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 200px;
}
body .card-container .movie-card {
  width: calc(20% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(13, 13, 13);
  border-radius: 10px;
  text-align: center;
}
body .card-container .movie-card * {
  padding: 10px 0;
}
body .card-container .movie-card h2 {
  color: white;
}
body .card-container .movie-card h3, body .card-container .movie-card h4 {
  color: grey;
}
body .card-container .movie-card h3 span, body .card-container .movie-card h4 span {
  font-size: 1.1rem;
  color: rgb(255, 217, 0);
}